  
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
	<link rel="icon" href="../static/Images/sblogo.png" type="image/icon type">
</head>
<body style="font-family : sans-serif ;">
    <header bgcolor="blue"style="text-align:left; background-color:darkblue;color: white;height: 80px;font-size: 40px;padding-top: 20px;">
		<div style="padding-left: 75px;padding-top: 5px;">
			<b>Stock Buddy</b>
			<button onclick="location.href = '../static/main_page.html';" class="btn message" style="border-radius: 4px;float:right; margin-right:50px; margin-top: 5px; font-size:20px; padding: 5px; color: white; background-color: green"> < Back </button>
        </div>
		</header>
    <h1 style="text-align: center;"> Oopps... An Error Occured !</h1>
    <h2 style="text-align: center;">{{ msg }}</h2>
    
    <h3 style="text-align: center;">Hit Back button to return to the main page !</h3>
</body>    
</html>
